/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Calendar

--------------------------------------------------------------*/
.widget_calendar {float: left;}
#wp-calendar {width: 100%; table-layout:fixed; border: 0px;}
#wp-calendar caption { text-align: right; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px;}
#wp-calendar thead th { padding-bottom: 10px; text-align: center; font-weight: 800;}
#wp-calendar tbody td { background-color: rgba(200,200,200, 0.4); border: 1px solid rgba(125,125,125,0.2); text-align: center; line-height: 200%; font-family: 'Josefin Slab', serif;}
#wp-calendar tbody .pad { background: none; border: 0px;}
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
ul.widget
{
	margin: 0;
	padding: 0;
}